/* You can add global styles to this file, and also import other style files */
html { font-size: 14px; }

a:hover { cursor: pointer; }

.show { display: block; }

.hidden { display: none !important; }

/* Forms */
.ng-valid[required], .ng-valid.required,
.ng-valid[required] + input, .ng-valid.required + input {
    border-left: 5px solid #42A948 !important; /* green */
}

.ng-invalid:not(form).ng-touched,
.ng-invalid:not(form).ng-touched + input {
    border-left: 5px solid #A94442 !important; /* red */
}

/* General Overrides */
.ui.divider { margin-top: 1.5rem }

.ui.basic.segment { padding: 0 !important; }