/* You can add global styles to this file, and also import other style files */
html {
  font-size: 14px; }

a:hover {
  cursor: pointer; }

.show {
  display: block; }

.hidden {
  display: none !important; }

/*********************
 * General Overrides *
 *********************/
.ui.divider {
  margin-top: 1.5rem; }

.ui.basic.segment {
  padding: 0 !important; }

/********************
 * Slim Loading Bar *
 ********************/
.slim-loading-bar {
  top: 44px; }
  .slim-loading-bar .slim-loading-bar-progress {
    box-shadow: none;
    transition: width 0.5s ease-in-out, opacity .5s ease; }

ng2-slim-loading-bar.david .slim-loading-bar-progress {
  position: relative; }
ng2-slim-loading-bar.david .slim-loading-bar-progress:after {
  background-image: url(/assets/david21x21.png);
  background-repeat: no-repeat;
  background-size: initial;
  position: absolute;
  display: block;
  content: '' !important;
  opacity: 1;
  z-index: 2;
  width: 1.5rem;
  height: 2rem;
  top: -1rem;
  right: -1rem;
  -webkit-transform: none;
  transform: none;
  transition: left .3s ease; }

/******************
 * Success Fields *
 ******************/
/* Success Autofilled */
.ui.form .success.success input:-webkit-autofill {
  box-shadow: 0px 0px 0px 100px #FFFAF0 inset !important;
  border-color: #A3C293 !important; }

/* Success Placeholder */
.ui.form .success ::-webkit-input-placeholder {
  color: #BDE7BC !important; }

.ui.form .success :-ms-input-placeholder {
  color: #BDE7BC !important; }

.ui.form .success ::-moz-placeholder {
  color: #BDE7BC !important; }

.ui.form .success :focus::-webkit-input-placeholder {
  color: #97DA96 !important; }

.ui.form .success :focus:-ms-input-placeholder {
  color: #97DA96 !important; }

.ui.form .success :focus::-moz-placeholder {
  color: #97DA96 !important; }

/* On Form */
.ui.form.success .success.message:not(:empty) {
  display: block; }

.ui.form.success .compact.success.message:not(:empty) {
  display: inline-block; }

.ui.form.success .icon.success.message:not(:empty) {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

/* On Field(s) */
.ui.form .fields.success .field label,
.ui.form .field.success label,
.ui.form .fields.success .field .input,
.ui.form .field.success .input {
  color: #1A531B !important; }

.ui.form .fields.success .field .corner.label,
.ui.form .field.success .corner.label {
  border-color: #1A531B !important;
  color: #FFFFFF !important; }

.ui.form .fields.success .field textarea,
.ui.form .fields.success .field select,
.ui.form .fields.success .field input:not([type]),
.ui.form .fields.success .field input[type="date"],
.ui.form .fields.success .field input[type="datetime-local"],
.ui.form .fields.success .field input[type="email"],
.ui.form .fields.success .field input[type="number"],
.ui.form .fields.success .field input[type="password"],
.ui.form .fields.success .field input[type="search"],
.ui.form .fields.success .field input[type="tel"],
.ui.form .fields.success .field input[type="time"],
.ui.form .fields.success .field input[type="text"],
.ui.form .fields.success .field input[type="file"],
.ui.form .fields.success .field input[type="url"],
.ui.form .field.success textarea,
.ui.form .field.success select,
.ui.form .field.success input:not([type]),
.ui.form .field.success input[type="date"],
.ui.form .field.success input[type="datetime-local"],
.ui.form .field.success input[type="email"],
.ui.form .field.success input[type="number"],
.ui.form .field.success input[type="password"],
.ui.form .field.success input[type="search"],
.ui.form .field.success input[type="tel"],
.ui.form .field.success input[type="time"],
.ui.form .field.success input[type="text"],
.ui.form .field.success input[type="file"],
.ui.form .field.success input[type="url"] {
  background: #FCFFF5 !important;
  border-color: #A3C293 !important;
  color: #1A531B !important;
  box-shadow: none !important; }

.ui.form .field.success textarea:focus,
.ui.form .field.success select:focus,
.ui.form .field.success input:not([type]):focus,
.ui.form .field.success input[type="date"]:focus,
.ui.form .field.success input[type="datetime-local"]:focus,
.ui.form .field.success input[type="email"]:focus,
.ui.form .field.success input[type="number"]:focus,
.ui.form .field.success input[type="password"]:focus,
.ui.form .field.success input[type="search"]:focus,
.ui.form .field.success input[type="tel"]:focus,
.ui.form .field.success input[type="time"]:focus,
.ui.form .field.success input[type="text"]:focus,
.ui.form .field.success input[type="file"]:focus,
.ui.form .field.success input[type="url"]:focus {
  background: #FCFFF5 !important;
  border-color: #A3C293 !important;
  color: #1A531B !important;
  -webkit-appearance: none !important;
  box-shadow: none !important; }

/* Preserve Native Select Stylings */
.ui.form .field.success select {
  -webkit-appearance: menulist-button; }

/*------------------
    Dropdown Success
--------------------*/
.ui.form .fields.success .field .ui.dropdown,
.ui.form .fields.success .field .ui.dropdown .item,
.ui.form .field.success .ui.dropdown,
.ui.form .field.success .ui.dropdown .text,
.ui.form .field.success .ui.dropdown .item {
  background: #FCFFF5 !important;
  color: #1A531B !important; }

.ui.form .fields.success .field .ui.dropdown,
.ui.form .field.success .ui.dropdown {
  border-color: #A3C293 !important; }

.ui.form .fields.success .field .ui.dropdown:hover,
.ui.form .field.success .ui.dropdown:hover {
  border-color: #A3C293 !important; }

.ui.form .fields.success .field .ui.dropdown:hover .menu,
.ui.form .field.success .ui.dropdown:hover .menu {
  border-color: #A3C293 !important; }

.ui.form .fields.success .field .ui.multiple.selection.dropdown > .label,
.ui.form .field.success .ui.multiple.selection.dropdown > .label {
  background-color: #CBEACB !important;
  color: #1A531B !important; }

/* Hover */
.ui.form .fields.success .field .ui.dropdown .menu .item:hover,
.ui.form .field.success .ui.dropdown .menu .item:hover {
  background-color: #E7FBE7 !important; }

/* Selected */
.ui.form .fields.success .field .ui.dropdown .menu .selected.item,
.ui.form .field.success .ui.dropdown .menu .selected.item {
  background-color: #E7FBE7 !important; }

/* Active */
.ui.form .fields.success .field .ui.dropdown .menu .active.item,
.ui.form .field.success .ui.dropdown .menu .active.item {
  background-color: #CFFDCF !important; }

/*--------------------
    Checkbox Success
---------------------*/
.ui.form .fields.success .field .checkbox:not(.toggle):not(.slider) label,
.ui.form .field.success .checkbox:not(.toggle):not(.slider) label,
.ui.form .fields.success .field .checkbox:not(.toggle):not(.slider) .box,
.ui.form .field.success .checkbox:not(.toggle):not(.slider) .box {
  color: #1A531B !important; }

.ui.form .fields.success .field .checkbox:not(.toggle):not(.slider) label:before,
.ui.form .field.success .checkbox:not(.toggle):not(.slider) label:before,
.ui.form .fields.success .field .checkbox:not(.toggle):not(.slider) .box:before,
.ui.form .field.success .checkbox:not(.toggle):not(.slider) .box:before {
  background: #FCFFF5 !important;
  border-color: #A3C293 !important; }

.ui.form .fields.success .field .checkbox label:after,
.ui.form .field.success .checkbox label:after,
.ui.form .fields.success .field .checkbox .box:after,
.ui.form .field.success .checkbox .box:after {
  color: #1A531B !important; }

/*********************
 * Notify JS Overide *
 *********************/
/* Positive */
.notifyjs-custom-positive .ui.message {
  background-color: #FCFFF5;
  color: #2C662D; }

.notifyjs-custom-positive .ui.message,
.notifyjs-custom-positive .ui.attached.message {
  box-shadow: 0px 0px 0px 1px #A3C293 inset, 0px 0px 0px 0px transparent; }

.notifyjs-custom-positive .ui.message .header {
  color: #1A531B; }

/* Negative */
.notifyjs-custom-negative .ui.message {
  background-color: #FFF6F6;
  color: #9F3A38; }

.notifyjs-custom-negative .ui.message,
.notifyjs-custom-negative .ui.attached.message {
  box-shadow: 0px 0px 0px 1px #E0B4B4 inset, 0px 0px 0px 0px transparent; }

.notifyjs-custom-negative .ui.message .header {
  color: #912D2B; }

/* Info */
.notifyjs-custom-info .ui.message {
  background-color: #F8FFFF;
  color: #276F86; }

.notifyjs-custom-info .ui.message,
.notifyjs-custom-info .ui.attached.message {
  box-shadow: 0px 0px 0px 1px #A9D5DE inset, 0px 0px 0px 0px transparent; }

.notifyjs-custom-info .ui.message .header {
  color: #0E566C; }

/* Warning */
.notifyjs-custom-warning .ui.message {
  background-color: #FFFAF3;
  color: #573A08; }

.notifyjs-custom-warning .ui.message,
.notifyjs-custom-warning .ui.attached.message {
  box-shadow: 0px 0px 0px 1px #C9BA9B inset, 0px 0px 0px 0px transparent; }

.notifyjs-custom-warning .ui.message .header {
  color: #794B02; }

/* Error */
.notifyjs-custom-error .ui.message {
  background-color: #FFF6F6;
  color: #9F3A38; }

.notifyjs-custom-error .ui.message,
.notifyjs-custom-error .ui.attached.message {
  box-shadow: 0px 0px 0px 1px #E0B4B4 inset, 0px 0px 0px 0px transparent; }

.notifyjs-custom-error .ui.message .header {
  color: #912D2B; }

/* Success */
.notifyjs-custom-success .ui.message {
  background-color: #FCFFF5;
  color: #2C662D; }

.notifyjs-custom-success .ui.message,
.notifyjs-custom-success .ui.attached.message {
  box-shadow: 0px 0px 0px 1px #A3C293 inset, 0px 0px 0px 0px transparent; }

.notifyjs-custom-success .ui.message .header {
  color: #1A531B; }

/*# sourceMappingURL=styles.css.map */
