/* You can add global styles to this file, and also import other style files */
html { font-size: 14px; }

a:hover { cursor: pointer; }

.show { display: block; }

.hidden { display: none !important; }

/* General Overrides */
.ui.divider { margin-top: 1.5rem }

.ui.basic.segment { padding: 0 !important; }