<a class="ui button" routerLink="/home">
    <i class="cancel icon"></i>Cancel
</a>

<h1>
    Create New Client
</h1>

<form #form="ngForm" class="ui form" id="new-client-form"
      (ngSubmit)="onSubmit(form)"
      novalidate>
    <div class="field" [class.error]="submitted && !name.valid">
        <label>Client Name</label>
        <input type="text"
               required
               [(ngModel)]="client.name"
               (ngModelChange)="this.submitted = false;"
               name="name"
               #name="ngModel">
    </div>
    <div class="field" [class.error]="submitted && !shortCode.valid">
        <label>Short Code (2-3 uppercase letters)</label>
        <input type="text"
               required
               [(ngModel)]="client.shortCode"
               (ngModelChange)="this.submitted = false;"
               name="name"
               #shortCode="ngModel">
    </div>
    <!-- TODO:
        rate cards(?)
        brands
     -->
    <form #brandForm="ngForm" class="field"
          (ngSubmit)="addBrand()"
          novalidate>
        <div class="field">
            <label>Brands</label>
            <div class="ui right labeled input">
                <input type="text"
                       [(ngModel)]="currentBrand"
                       name="brand"
                       #brand="ngModel">
                <button type="submit" class="ui label button"><i class="add icon"></i></button>
            </div>
            <div class="ui secondary compact segment">
                <div class="ui blue label" *ngFor="let b of client.brands; let i = index">{{b}}
                    <a (click)="removeBrand(i)"><i class="close icon"></i></a>
                </div>
                <p *ngIf="client.brands.length == 0">(no brands added)</p>
            </div>
        </div>
    </form>

    <button type="submit" class="ui positive button"
            [disabled]="!form.form.valid || submitted">Submit
    </button>

    <div class="ui error message"></div>
</form>