<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Authorizing Trello</title>
</head>
<body>
<script src="https://code.jquery.com/jquery-1.7.1.min.js"></script>
<script src="https://trello.com/1/client.js?key=e85050ac8efab0cbabfe11794ded1861"></script>
<script>
    Trello.authorize({
        type: "redirect",
        name: "Job The Builder",
        persist: false,
        scope: {
            read: true,
            write: true,
            account: false
        },
        expiration: "never",
        success: function () {
            var token = Trello.token();
            window.location.href = window.location.href.split("#")[0] + "&token=" + token;
        },
        error: function () {
            window.alert("Failed to authorize!")
        }
    })
</script>
</body>
</html>