<h1 class="ui header">Welcome!</h1>

<div *ngIf="authService.allSynced == false" class="ui info message">
    <div class="header">
        The first steps
    </div>
    <div class="content">
        Please authenticate the following apps in order to use our awesome services
        <img class="ui inline bottom aligned mini image" src="assets/parrot.gif">
    </div>
</div>
<app-authentication
        *ngIf="authService.allSynced == false"
        (onAuthenticated)="onAuthenticated($event)">
</app-authentication>

<div *ngIf="authService.allSynced">
    <a class="ui button" routerLink="/jobs/new">
        <i class="add icon"></i>Create New Job
    </a>
    <a class="ui button" routerLink="/jobs">
        <i class="search icon"></i>Job Search and Edit Rate Card
    </a>
</div>