<a class="ui button" routerLink="/new-client">
    <i class="icons">
      <i class="users icon"></i>
      <i class="corner add icon"></i>
    </i>
    Create New Client
</a>

<div class="ui three item menu">
    <a class="item"
       routerLink="/jobs">
        <i class="suitcase icon"></i>Jobs
    </a>
    <a class="item"
       (click)="activeMenuTab='clients'"
       [class.active]="activeMenuTab=='clients'">
        <i class="users icon"></i>Clients
    </a>
    <a class="item"
       (click)="activeMenuTab='users'"
       [class.active]="activeMenuTab=='users'">
        Users
    </a>
</div>

<app-display-clients *ngIf="activeMenuTab=='clients'"></app-display-clients>
<app-display-users *ngIf="activeMenuTab=='users'"></app-display-users>
