/*
 * Main Navigation
 */
#main-menu {
    font-size: 1.1rem;
    border-radius: 0;

    #sidebar-toggle {
        display: none !important;
        position: absolute;
        right: 0;
        padding-top: 0.8rem;
        padding-bottom: 0.8rem;
        i { margin: 0 !important; }
    }
    @media screen and (max-width: 768px) {
        #main-menu-items { display: none !important; }
        #sidebar-toggle { display: block !important; }
    }
}

/*
 * Pushed Container for Sidebar
 */
.pusher {
    margin-top: 45px;
    padding-top: 50px;
    padding-bottom: 50px;
}

/*
 * Notification Message Popup
 */
#notif-message {
    position: fixed;
    right: 20px;
    bottom: 20px;
}

