<nav class="ui fixed inverted menu" id="main-menu" *ngIf="authService.authenticated()">
    <div class="right menu" id="main-menu-items">
        <a routerLink="/"
           routerLinkActive="active"
           [routerLinkActiveOptions]="{exact: true}"
           class="item">
            <i class="home icon"></i>Home</a>
        <a routerLink="/jobs"
           routerLinkActive="active"
           class="item">
            <i class="suitcase icon"></i>Jobs</a>
        <a routerLink="/clients"
           routerLinkActive="active"
           class="item">
            <i class="users icon"></i>Clients</a>
        <a routerLink="/settings"
           routerLinkActive="active"
           class="item">
            <i class="cogs icon"></i>Settings</a>
        <a class="item" (click)="authService.logout()">
            <i class="sign out icon"></i>Log Out</a>
    </div>
    <a (click)="toggleSidebar()" class="item" id="sidebar-toggle"><i class="large content icon"></i></a>
</nav>


<div class="ui fixed right sidebar inverted vertical labeled icon menu overlay"
     *ngIf="authService.authenticated()">
    <a routerLink="/"
       routerLinkActive="active"
       [routerLinkActiveOptions]="{exact: true}"
       class="item"
       (click)="toggleSidebar()">
        <i class="home icon"></i>Home</a>
    <a routerLink="/jobs"
       routerLinkActive="active"
       class="item"
       (click)="toggleSidebar()">
        <i class="suitcase icon"></i>Jobs</a>
    <a routerLink="/clients"
       routerLinkActive="active"
       class="item"
       (click)="toggleSidebar()">
        <i class="users icon"></i>Clients</a>
    <a routerLink="/settings"
       routerLinkActive="active"
       class="item"
       (click)="toggleSidebar()">
        <i class="cogs icon"></i>Settings</a>
    <a class="item"
       (click)="authService.logout(); toggleSidebar()">
        <i class="sign out icon"></i>Log Out</a>
</div>


<ng2-slim-loading-bar *ngIf="authService.authenticated()"
                      [color]="'#FCCB43'" [height]="'3px'"
                      [ngClass]="{'david': settings.david}">
</ng2-slim-loading-bar>

<div [class.pusher]="authService.authenticated()">
    <app-breadcrumb
            *ngIf="authService.authenticated()"
            #breadcrumb>
    </app-breadcrumb>
    <div class="ui" [class.container]="authService.authenticated()">
        <router-outlet></router-outlet>
    </div>
</div>
