<nav class="ui fixed inverted menu" id="main-menu" *ngIf="authService.authenticated()">
    <div class="right menu" id="main-menu-items">
        <a routerLink="/"
           routerLinkActive="active"
           [routerLinkActiveOptions]="{exact: true}"
           class="item">
            <i class="home icon"></i>Home</a>
        <a routerLink="/jobs"
           routerLinkActive="active"
           class="item">
            <i class="suitcase icon"></i>Job Search</a>
        <a routerLink="/clients"
           routerLinkActive="active"
           class="item">
            <i class="users icon"></i>Clients</a>
        <a routerLink="/settings"
           routerLinkActive="active"
           class="item">
            <i class="cogs icon"></i>Settings</a>
        <a class="item" (click)="authService.logout()">
            <i class="sign out icon"></i>Log Out</a>
    </div>
    <a (click)="toggleSidebar()" class="item" id="sidebar-toggle"><i class="large content icon"></i></a>
</nav>


<div class="ui fixed right sidebar inverted vertical labeled icon menu overlay"
     *ngIf="authService.authenticated()">
    <a routerLink="/"
       routerLinkActive="active"
       [routerLinkActiveOptions]="{exact: true}"
       class="item"
       (click)="toggleSidebar()">
        <i class="home icon"></i>Home</a>
    <a routerLink="/jobs"
       routerLinkActive="active"
       class="item"
       (click)="toggleSidebar()">
        <i class="suitcase icon"></i>Jobs</a>
    <a routerLink="/clients"
       routerLinkActive="active"
       class="item"
       (click)="toggleSidebar()">
        <i class="users icon"></i>Clients</a>
    <a routerLink="/settings"
       routerLinkActive="active"
       class="item"
       (click)="toggleSidebar()">
        <i class="cogs icon"></i>Settings</a>
    <a class="item"
       (click)="authService.logout(); toggleSidebar()">
        <i class="sign out icon"></i>Log Out</a>
</div>


<div [class.container]="authService.authenticated()>
    <div class="ui"
         [class.container]="authService.authenticated()">
        <router-outlet></router-outlet>
    </div>
</div>

<!--Notification Message Popup-->
<div class="ui sticky hidden floating message" id="notif-message">
    <i class="close icon"></i>
    <div class="header">
    </div>
    <p class="content">
    </p>
</div>