<div *ngIf="job" style="margin-top: 1em">
    <h2 class="ui header">
        <div class="content">
            {{job.name}}
            <div class="sub header">
                {{job.starts_at | date: "EEEE, M/dd/y"}} -
                {{job.ends_at| date: "EEEE, M/dd/y"}}
            </div>
        </div>
    </h2>
    <h5 class="ui header">{{job.description}}</h5>

    <div class="ui divider"></div>

    <h3 class="ui header">Details</h3>
    <div>
        <label>Link to 10,000ft project: </label>
        <a target="_blank" href="{{tenKUrl}}">
            {{tenKUrl}}
        </a>
    </div>
    <div>
        <label>Client: </label>
        <span *ngIf="!commonService.isEmptyString(job.client)">{{job.client}}</span>
        <span *ngIf="commonService.isEmptyString(job.client)">N/A</span>
    </div>

    <!--Custom Fields-->
    <div *ngFor="let field of customFields">
        <label>{{field.name}}: </label>
        <span *ngFor="let val of field?.vals; let isLast=last">
            <a target="_blank" *ngIf="isUrl(val.value)" href="{{val.value}}">
                {{val.value | characterLimit: 50}}
            </a>
            <span *ngIf="!isUrl(val.value)">{{val.value}}</span>
            {{isLast ? "" : ", "}}
        </span>
        <span *ngIf="!field.vals || field?.vals?.length == 0 || !field?.vals[0]?.value">N/A</span>
    </div>

    <div class="ui divider"></div>

    <h3 class="ui header">Edit Job</h3>
    <div *ngIf="!selectingRateCard" class="ui button" (click)="selectingRateCard = true">
        <i class="money icon"></i>
        Change Rate Card
    </div>

    <div class="ui form"
         *ngIf="selectingRateCard">
        <app-rate-card-selector
                [newJob]="job"
                (onRateUpdated)="onRateUpdated($event)"
                #rateCardSelector>
        </app-rate-card-selector>
        <div class="ui divider"></div>
        <div class="ui grid">
            <div class="row">
                <div class="column">
                    <div class="ui right floated buttons">
                        <div class="ui positive button"
                             [class.loading]="rateCardProcessingState == 'loading'"
                             (click)="rateCardProcessingState = 'loading'; rateCardSelectorComponent.updateBillRates();">
                            <i class="checkmark icon"></i>
                            Submit
                        </div>
                        <div class="or"></div>
                        <div class="ui negative button" (click)="selectingRateCard = false">
                            <i class="remove icon"></i>
                            Cancel
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>