/*
 * General
 */
.ui.form .inline.fields .field {
    margin-bottom: 5px !important;
}

.ui.popup > * {
    margin-bottom: 0.25em;
}

#new-job-form {
    padding-bottom: 50px;
}

app-trello-template-selector,
app-rate-card-selector {
    width: 100%;
    padding-left: .5em;
    padding-right: .5em;
}

@media screen and (min-width: 767px) {
    app-trello-template-selector,
    app-rate-card-selector {
        width: 50%;
    }
}

#slack-name-suggestion {
    display: inline-block;
    vertical-align: top;
    .item {
        margin-bottom: 5px;
    }
}

/*
 * Bottom Nav aka Generated Title Nav
 */
input[readonly]:focus {
    border: 1px solid rgba(34, 36, 38, .15) !important;
}

// override loader color in a dimmer (set to white by default)
#confirm-new-job .ui.loader:after {
    border-color: #767676 transparent transparent !important;
}

@media only screen and (max-width: 767px) {
    #confirm-new-job .content > .description {
        padding: 0 !important;
    }
}

#generated-title-nav {
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    label {
        color: rgba(255, 255, 255, .9) !important;
    }
    .segment { background: transparent !important; }
    .active.dimmer { background: transparent !important; }
    .active.dimmer ~ label,
    .active.dimmer ~ .ui.input {
        opacity: 0.1;
    }
}

@media only screen and (max-width: 768px) {
    app-steve-bot {
        display: none !important;
    }
}