.ui.form .inline.fields .field {
    margin-bottom: 5px !important;
}

#new-brand-popup-form > * {
    margin-bottom: 0.25em;
}

// override loader color in a dimmer (set to white by default)
#create-box-folder .ui.loader:after {
    border-color: #767676 transparent transparent !important;
}

input[readonly]:focus {
    border: 1px solid rgba(34, 36, 38, .15) !important;
}

@media screen and (max-width: 768px) {
    padding-right: 0 !important;
}