<a class="ui button" routerLink="/jobs">
    <i class="chevron left icon"></i>Back to List
</a>

<h1>
    Create New Job
</h1>

<form #form="ngForm" class="ui form" id="new-job-form"
      (ngSubmit)="onSubmit(form)"
      (keydown.enter)="$event.preventDefault()"
      novalidate>

    <!--Final Generated Name-->
    <div class="ui blue segment inline fields" [class.loading]="generating">
        <div class="read-only ten wide field">
            <label>Generated Title</label>
            <div *ngIf="usingFinalName" class="ui icon input">
                <input readonly="" type="text"
                       require
                       [(ngModel)]="finalName.result"
                       name="finalName">
                <i class="icon"></i>
            </div>
            <input *ngIf="!usingFinalName" readonly="" type="text"
                   require
                   [(ngModel)]="job.name"
                   name="finalName">
        </div>
        <div class="six wide field">
            <div class="ui toggle checkbox">
                <input type="checkbox" tabindex="0" class="hidden"
                       [checked]="usingFinalName"
                       (change)="usingFinalName = !usingFinalName">
                <label>Use generated name?</label>
            </div>
        </div>
    </div>


    <br><br>
    <!--Client & Brand-->
    <div class="two fields">
        <div class="required field" id="client-select-field"
             [class.success]="!commonService.isEmptyString(job?.client?.name)"
             [class.error]="commonService.isEmptyString(job?.client?.name) && (client.dirty || client.touched)">
            <label>Client
                (can't find it?
                <a id="new-client-popup" class="popup-trigger"
                   (click)="addNewClient()"><i class="add icon"></i>add new</a>
                <div class="ui small modal" id="new-client-modal">
                    <div class="header">Create New Client</div>
                    <div class="content">
                        <app-new-client
                                (onCreated)="onNewClientCreated($event)"
                                (onCancel)="onNewClientCancel($event)">
                        </app-new-client>
                    </div>
                </div>
                )
            </label>
            <select required class="ui search dropdown selection"
                    [(ngModel)]="job.client"
                    (ngModelChange)="submitted = false; onClientChange()"
                    name="client"
                    #client="ngModel">
                <option value="" disabled>(select client)</option>
                <option *ngFor="let cli of clients; let i = index"
                        [ngValue]="cli">
                    {{cli?.name}} <span
                        *ngIf="!commonService.isEmptyString(cli?.shortCode)">- ({{cli?.shortCode}})</span>
                </option>
            </select>
        </div>
        <div class="field" id="brand-select-field">
            <label>Brand
                <span [class.hidden]="commonService.isEmptyString(job?.client?.name)">
                    (can't find it?
                    <a id="new-brand-popup" class="popup-trigger"><i class="add icon"></i>add new</a>
                    <div class="ui popup" id="new-brand-popup-form">
                        <div class="ui input">
                          <input type="text" placeholder="(enter new brand)" #newBrandInput>
                        </div>
                        <div class="ui positive button"
                             (click)="addNewBrand(newBrandInput.value); newBrandInput.value = ''">Save</div>
                        <div class="ui button" (click)="addNewBrand('')">Cancel</div>
                    </div>
                    )
                </span>
                <span [class.hidden]="!commonService.isEmptyString(job?.client?.name)">
                    (please select a Client first)
                </span>
            </label>
            <select class="ui search dropdown selection"
                    [(ngModel)]="job.brand"
                    (ngModelChange)="submitted = false; onBrandChange()"
                    name="brand">
                <option value=" ">(no brand)</option>
                <option *ngFor="let b of job?.client?.brands; let i = index"
                        [value]="b">{{b}}
                </option>
            </select>
        </div>
    </div>

    <!--Job Name-->
    <div class="required field"
         [class.success]="name.valid"
         [class.error]="!name.valid && (name.dirty || name.touched)">
        <label>Job Name</label>
        <input type="text"
               placeholder="(required name)"
               autofocus
               required
               [(ngModel)]="job.name"
               (ngModelChange)="submitted = false; onJobNameChange();"
               name="name"
               #name="ngModel">
    </div>

    <!--Start and End Dates-->
    <div class="two fields">
        <div class="required field"
             [class.success]="startDate.valid"
             [class.error]="!startDate.valid">
            <label>Start Date (MM/DD/YYYY)</label>
            <input type="date"
                   required
                   [(ngModel)]="job.startDate"
                   (ngModelChange)="submitted = false; onDateChange('start', $event)"
                   name="startDate"
                   #startDate="ngModel">
        </div>
        <div class="required field"
             [class.success]="endDate.valid"
             [class.error]="!endDate.valid">
            <label>End Date (MM/DD/YY)</label>
            <input type="date"
                   required
                   [(ngModel)]="job.endDate"
                   (ngModelChange)="submitted = false; onDateChange('end', $event)"
                   name="endDate"
                   #endDate="ngModel">
        </div>
    </div>

    <!--Description-->
    <div class="field">
        <label>Description (public info only)</label>
        <textarea [(ngModel)]="job.description"
                  rows="3"
                  placeholder="(enter description)"
                  name="description">
        </textarea>
    </div>


    <br><br>
    <div class="two fields">
        <!--Producer-->
        <div id="producer-select-field" class="required field"
             [class.success]="!commonService.isEmptyString(job?.producer)"
             [class.error]="commonService.isEmptyString(job?.producer) && (producer.dirty || producer.touched)">
            <label>Producer</label>
            <select required class="ui search dropdown selection"
                    [(ngModel)]="job.producer"
                    name="producer"
                    #producer="ngModel">
                <option value="">(select producer)</option>
                <option *ngFor="let p of producers; let i = index"
                        [ngValue]="p">
                    {{p}}
                </option>
            </select>
        </div>

        <!--Rate Card Selector-->
        <app-rate-card-selector
                (onRateUpdated)="onRateUpdated($event)"
                #rateCardSelector>
        </app-rate-card-selector>
    </div>

    <!--Service Type-->
    <div class="two fields">
        <div class="required grouped field"
             [class.success]="job.serviceType != '' && serviceTypes != null">
            <label>Trello Board Type</label>
            <div class="field">
                <div class="radio" *ngFor="let serviceType of serviceTypes">
                    <label>
                        <input type="radio"
                               name="type" [(ngModel)]="job.serviceType"
                               [value]="serviceType.value">
                        {{serviceType.display}}
                    </label>
                </div>
            </div>
        </div>
        <div class="grouped field">
            <div class="field">
                <label>Slack Channel Name (leave blank to opt out)</label>
                <input type="text"
                       placeholder="(~21 characters, only a-z, 0-9, hyphens, underscores)"
                       [(ngModel)]="slackChannelName"
                       name="slackChannel"
                       #slackChannel="ngModel"
                       maxlength="21"
                       style="margin-bottom:2px">
                <span *ngIf="!commonService.isEmptyString(job.name)">suggestions:</span>
                <div class="ui black pointing label button"
                     *ngIf="!commonService.isEmptyString(job.name)"
                     (click)="selectChannelNameSuggestion('noVowels')">
                    {{finalName.result | slackChannelName:"noVowels"}}
                </div>
                <div class="ui black pointing label button"
                     *ngIf="!commonService.isEmptyString(job.name)"
                     (click)="selectChannelNameSuggestion('abruptCut')">
                    {{finalName.result | slackChannelName:"abruptCut"}}
                </div>
            </div>
        </div>
    </div>

    <!--TODO: projectStatus select-->
    <div class="ui divider"></div>
    <div class="ui grid">
        <div class="row">
            <div class="column">
                <div class="ui large right floated buttons">
                    <button type="button" class="ui negative button"
                            (click)="confirmResetModels()"><i class="refresh icon"></i>Clear
                    </button>
                    <div class="or"></div>
                    <button type="submit" class="ui positive button"
                            [disabled]="!form.form.valid || submitted
                            || commonService.isEmptyString(rateCardSelectorComponent.selectedTemplate)">
                        <i class="checkmark icon"></i>Submit
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>


<!-- Reset Confirmation Screen -->
<div class="ui small modal" id="confirm-reset-job">
    <i class="close icon"></i>
    <div class="header">
        Are you sure you want to reset the fields on this form?
    </div>
    <div class="actions">
        <div class="ui negative button"><i class="remove icon"></i>Nope</div>
        <div class="ui positive button" (click)="resetModels()"><i class="checkmark icon"></i>I'm sure!</div>
    </div>
</div>


<!--Final Confirmation Screen-->
<div class="ui scrolling modal" id="confirm-new-job">
    <!--<i class="close icon"></i>-->
    <div class="header">
        Almost there!
    </div>
    <div class="content">
        <!--TODO: display message representing current action-->
        <div class="ui active centered inline loader"
             *ngIf="!canEndConfirm"></div>
        <h2 class="ui center aligned icon header"
            *ngIf="canEndConfirm">
            <i class="green circular checkmark icon"></i>
            Done
        </h2>
        <h3 class="ui center aligned small header">
            <span *ngIf="confirmInfo.tenKUrl">
                10,000 Project URL:
                <a target="_blank" href="{{confirmInfo.tenKUrl}}">
                    {{confirmInfo.tenKUrl | characterLimit: 35}}
                </a>
            </span><br *ngIf="confirmInfo.tenKUrl ">
            <span *ngIf="confirmInfo.boxUrl">
                Box Folder URL:
                <a target="_blank" href="{{confirmInfo.boxUrl}}">
                    {{confirmInfo.boxUrl | characterLimit: 35}}
                </a>
            </span><br *ngIf="confirmInfo.boxUrl">
            <span *ngIf="confirmInfo.trelloUrl">
                Trello Board URL:
                <a target="_blank" href="{{confirmInfo.trelloUrl}}">
                    {{confirmInfo.trelloUrl | characterLimit: 35}}
                </a>
            </span>
        </h3>
        <hr>
        <br>

        <div class="ui grid">
            <div class="centered ten wide mobile eight wide tablet six wide computer column">
                <div *ngIf="rateCardProcessingState != 'disabled'"
                     class="ui vertical segment">
                    <h4 class="ui header">Processing rate card...</h4>
                    <div class="ui list">
                        <div class="item">
                            <i class="big icon"
                               [ngClass]="{'active pulse': rateCardProcessingState == 'active',
                               'money': rateCardProcessingState != 'completed'
                                    && rateCardProcessingState != 'failed',
                               'green checkmark': rateCardProcessingState == 'completed',
                               'red remove': rateCardProcessingState == 'failed'}"></i>
                            <div class="content">
                                <div class="header">Rate Card</div>
                                <div class="description">Copying bill rates over from template rate card</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="ui vertical segment">
                    <h4 class="ui header">Creating folders in Box...</h4>
                    <div class="ui list">
                        <div class="item">
                            <i class="big icon"
                               [ngClass]="{'disabled': boxProcessingStates.client == 'disabled',
                           'active pulse': boxProcessingStates.client == 'active',
                           'users': boxProcessingStates.client != 'completed' && boxProcessingStates.client != 'failed',
                           'green checkmark': boxProcessingStates.client == 'completed',
                           'red remove': boxProcessingStates.client == 'failed'}"></i>
                            <div class="content">
                                <div class="header">Client</div>
                                <div class="description">Finding a folder with the client's name</div>
                            </div>
                        </div>
                        <div class="item">
                            <i class="big icon"
                               [ngClass]="{'disabled': boxProcessingStates.brand == 'disabled',
                           'active pulse': boxProcessingStates.brand == 'active',
                           'trademark': boxProcessingStates.brand != 'completed' && boxProcessingStates.brand != 'failed',
                           'green checkmark': boxProcessingStates.brand == 'completed',
                           'red remove': boxProcessingStates.brand == 'failed'}"></i>
                            <div class="content">
                                <div class="header">Brand</div>
                                <div class="description">Finding a folder with the brand name</div>
                            </div>
                        </div>
                        <div class="item">
                            <i class="big icon {{boxProcessingStates.job}}"
                               [ngClass]="{'disabled': boxProcessingStates.job == 'disabled',
                           'active pulse': boxProcessingStates.job == 'active',
                           'suitcase': boxProcessingStates.job != 'completed' && boxProcessingStates.job != 'failed',
                           'green checkmark': boxProcessingStates.job == 'completed',
                           'red remove': boxProcessingStates.job == 'failed'}"></i>
                            <div class=" content">
                                <div class="header">Job</div>
                                <div class="description no-padding">Creating a folder with the job's coded name</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div *ngIf="trelloProcessingState != 'disabled'"
                     class="ui vertical segment">
                    <h4 class="ui header">Copying Trello board...</h4>
                    <div class="ui list">
                        <div class="item">
                            <i class="big icon {{trelloProcessingState}}"
                               [ngClass]="{'active pulse': trelloProcessingState == 'active',
                               'trello': trelloProcessingState != 'completed'
                                    && trelloProcessingState != 'failed',
                               'green checkmark': trelloProcessingState == 'completed',
                               'red remove': trelloProcessingState == 'failed'}"></i>
                            <div class="content">
                                <div class="header">Board</div>
                                <div class="description">Creating a new board using FPG template</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div *ngIf="slackProcessingState != 'disabled'"
                     class="ui vertical segment">
                    <h4 class="ui header">Creating new Slack channel...</h4>
                    <div class="ui list">
                        <div class="item">
                            <i class="big icon {{slackProcessingState}}"
                               [ngClass]="{'active pulse': slackProcessingState == 'active',
                                               'hashtag': slackProcessingState != 'completed'
                                                    && slackProcessingState != 'failed',
                                               'green checkmark': slackProcessingState == 'completed',
                                               'red remove': slackProcessingState == 'failed'}"></i>
                            <div class="content">
                                <div class="header">Channel</div>
                                <div class="description">Creating a new channel in Slack</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="actions">
        <a class="ui button" routerLink="/jobs">
            <i class="chevron left icon"></i>Back to List
        </a>
        <div class="ui positive button"
             [class.disabled]="!canEndConfirm"
             (click)="endFinalConfirmation()">
            Check It Out<i class="chevron right icon"></i>
        </div>
    </div>
</div>