<div class="ui container">
    <div class="ui active centered inline loader" *ngIf="!finished && !hasError"
         style="z-index: 100"></div>
    <h2 class="ui center aligned icon header" *ngIf="finished && !hasError">
        <i class="green circular checkmark icon"></i>
        All Done
    </h2>
    <h2 class="ui center aligned icon header" *ngIf="hasError">
        <i class="orange warning sing icon"></i>
        Error Found
    </h2>
    <div class="ui info message" *ngIf="!finished && !hasError">
        Please don't close this page until our Overlords have finished granting you their boon.
    </div>
    <div class="ui success message" *ngIf="finished && !hasError">
        Remember to keep livin' dat vida loca!
    </div>
    <div class="ui warning message" *ngIf="hasError">
        While some tasks failed, the completed ones are already applied.
        There's no feature to automagically fix them yet (except for Rate Card).<br>
        SOLUTION: If you opt to try creating a new job again,
        you might need to <strong>delete the new 10,000ft project</strong> to prevent throwing off
        the job number generator. In the case that you have created a Trello board, delete it to avoid duplicates.
    </div>
    <h3 class="ui center aligned small header">
            <span *ngIf="confirmInfo.tenKUrl">
                10,000ft Project URL:
                <a target="_blank" href="{{confirmInfo.tenKUrl}}">
                    {{confirmInfo.tenKUrl | characterLimit: 35}}
                </a>
            </span><br *ngIf="confirmInfo.tenKUrl ">
        <span *ngIf="confirmInfo.boxUrl">
                Box Folder URL:
                <a target="_blank" href="{{confirmInfo.boxUrl}}">
                    {{confirmInfo.boxUrl | characterLimit: 35}}
                </a>
            </span><br *ngIf="confirmInfo.boxUrl">
        <span *ngIf="confirmInfo.trelloUrl">
                Trello Board URL:
                <a target="_blank" href="{{confirmInfo.trelloUrl}}">
                    {{confirmInfo.trelloUrl | characterLimit: 35}}
                </a>
            </span>
    </h3>
    <hr>
    <br>

    <div class="ui grid">
        <div class="centered ten wide mobile eight wide tablet six wide computer column">
            <div class="ui vertical segment">
                <h4 class="ui header">10,000ft</h4>
                <div class="ui list">
                    <div class="item">
                        <i class="big icon"
                           [ngClass]="{'active pulse': tenKProgress?.project?.status == 'active',
                           'suitcase': tenKProgress?.project?.status != 'completed' && tenKProgress?.project?.status != 'failed',
                           'green checkmark': tenKProgress?.project?.status == 'completed',
                           'red remove': tenKProgress?.project?.status == 'failed'}"></i>
                        <div class="content">
                            <div class="header">Project</div>
                            <div class="description"
                                 *ngIf="tenKProgress?.project?.status != 'completed'">
                                {{tenKProgress?.project?.details}}
                            </div>
                            <div class="description"
                                 *ngIf="tenKProgress?.project?.status == 'completed'">
                                Completed
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <i class="big icon"
                           [ngClass]="{'disabled': tenKProgress?.customFields?.status == 'disabled',
                           'active pulse': tenKProgress?.customFields?.status == 'active',
                           'info circle': tenKProgress?.customFields?.status != 'completed' && tenKProgress?.importantInfo?.status != 'failed',
                           'green checkmark': tenKProgress?.customFields?.status == 'completed',
                           'red remove': tenKProgress?.customFields?.status == 'failed'}"></i>
                        <div class="content">
                            <div class="header">Custom Fields</div>
                            <div class="description"
                                 *ngIf="tenKProgress?.customFields?.status != 'completed'">
                                {{tenKProgress?.customFields?.details}}
                            </div>
                            <div class="description"
                                 *ngIf="tenKProgress?.customFields?.status == 'completed'">
                                Completed
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <i class="big icon"
                           [ngClass]="{'disabled': tenKProgress?.rateCard?.status == 'disabled',
                           'active pulse': tenKProgress?.rateCard?.status == 'active',
                           'money': tenKProgress?.rateCard?.status != 'completed' && tenKProgress?.rateCard?.status != 'failed',
                           'green checkmark': tenKProgress?.rateCard?.status == 'completed',
                           'red remove': tenKProgress?.rateCard?.status == 'failed'}"></i>
                        <div class="content">
                            <div class="header">Rate Card</div>
                            <div class="description"
                                 *ngIf="tenKProgress?.rateCard?.status != 'completed'">
                                {{tenKProgress?.rateCard?.details}}
                            </div>
                            <div class="description"
                                 *ngIf="tenKProgress?.rateCard?.status == 'completed'">
                                Completed
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf="boxProgress?.client?.status != 'disabled'"
                 class="ui vertical segment">
                <h4 class="ui header">Box</h4>
                <div class="ui list">
                    <div class="item">
                        <i class="big icon"
                           [ngClass]="{'disabled': boxProgress?.client?.status == 'disabled',
                           'active pulse': boxProgress?.client?.status == 'active',
                           'users': boxProgress?.client?.status != 'completed' && boxProgress?.client?.status != 'failed',
                           'green checkmark': boxProgress?.client?.status == 'completed',
                           'red remove': boxProgress?.client?.status == 'failed'}"></i>
                        <div class="content">
                            <div class="header">Client</div>
                            <div class="description"
                                 *ngIf="boxProgress?.client?.status != 'completed'">
                                {{boxProgress?.client?.details}}
                            </div>
                            <div class="description"
                                 *ngIf="boxProgress?.client?.status == 'completed'">
                                Completed
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <i class="big icon"
                           [ngClass]="{'disabled': boxProgress?.job?.status == 'disabled',
                           'active pulse': boxProgress?.job?.status == 'active',
                           'folder': boxProgress?.job?.status != 'completed' && boxProgress?.job?.status != 'failed',
                           'green checkmark': boxProgress?.job?.status == 'completed',
                           'red remove': boxProgress?.job?.status == 'failed'}"></i>
                        <div class="content">
                            <div class="header">Job</div>
                            <div class="description"
                                 *ngIf="boxProgress?.job?.status != 'completed'">
                                {{boxProgress?.job?.details}}
                            </div>
                            <div class="description"
                                 *ngIf="boxProgress?.job?.status == 'completed'">
                                Completed
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf="trelloProgress?.board?.status != 'disabled'"
                 class="ui vertical segment">
                <h4 class="ui header">Trello</h4>
                <div class="ui list">
                    <div class="item">
                        <i class="big icon"
                           [ngClass]="{'active pulse': trelloProgress?.board?.status == 'active',
                           'trello': trelloProgress?.board?.status != 'completed' && trelloProgress?.board?.status != 'failed',
                           'green checkmark': trelloProgress?.board?.status == 'completed',
                           'red remove': trelloProgress?.board?.status == 'failed'}"></i>
                        <div class="content">
                            <div class="header">Board</div>
                            <div class="description"
                                 *ngIf="trelloProgress?.board?.status != 'completed'">
                                {{trelloProgress?.board?.details}}
                            </div>
                            <div class="description"
                                 *ngIf="trelloProgress?.board?.status == 'completed'">
                                Completed
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf="slackProgress?.channel?.status != 'disabled'"
                 class="ui vertical segment">
                <h4 class="ui header">Slack</h4>
                <div class="ui list">
                    <div class="item">
                        <i class="big icon"
                           [ngClass]="{'active pulse': slackProgress?.channel?.status == 'active',
                           'hashtag': slackProgress?.channel?.status != 'completed' && slackProgress?.channel?.status != 'failed',
                           'green checkmark': slackProgress?.channel?.status == 'completed',
                           'red remove': slackProgress?.channel?.status == 'failed'}"></i>
                        <div class="content">
                            <div class="header">Channel</div>
                            <div class="description"
                                 *ngIf="slackProgress?.channel?.status != 'completed'">
                                {{slackProgress?.channel?.details}}
                            </div>
                            <div class="description"
                                 *ngIf="slackProgress?.channel?.status == 'completed'">
                                Completed
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="ui grid">
    <div class="row">
        <div class="column">
            <div class="ui large right floated buttons">
                <div class="ui positive button"
                     [class.disabled]="!finished"
                     (click)="checkItOut()">
                    Check It Out<i class="chevron right icon"></i>
                </div>
            </div>
        </div>
    </div>
</div>
