<div class="ui clearing basic segment">
    <h1 class="ui left floated header"><i class="suitcase icon"></i>Jobs</h1>
    <a class="ui right floated button" routerLink="/jobs/new">
        <i class="add icon"></i>New Job
    </a>
</div>

<form class="ui form" #f="ngForm">
    <!--Filtering by Client-->
    <div class="field">
        <select multiple="" class="ui fluid multiple search selection dropdown"
                [(ngModel)]="clientFilterInput"
                (ngModelChange)="onFilterSearchChange()"
                name="clientFilter"
                #clientFilter="ngModel">
            <!--disabled will prevent selection of empty string-->
            <option value="" disabled="true">Filter by Client...</option>
            <option *ngFor="let c of clients;"
                    [value]="c.name">{{c.name}}
            </option>
        </select>
    </div>
</form>

<!--Display Area-->
<div class="ui basic no-padding segment" [class.loading]="loading">
    <table class="ui yellow compact sortable celled table"
           *ngIf="displayedJobs?.length > 0">
        <thead>
        <tr>
            <th [class.sorted]="sortCategory == 'name'"
                [class.ascending]="sortOrder == 'ascending'"
                [class.descending]="sortOrder == 'descending'"
                (click)="sortTable('name')">
                Job Name
            </th>
            <th [class.sorted]="sortCategory == 'client'"
                [class.ascending]="sortOrder == 'ascending'"
                [class.descending]="sortOrder == 'descending'"
                (click)="sortTable('client')">
                Client
            </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let j of displayedJobs">
            <td class="ui selectable"><a [routerLink]="['/jobs/details', j?.id]">{{j?.name | characterLimit: 35}}</a></td>
            <td>{{j?.client}}</td>
        </tr>
        </tbody>
    </table>

    <div *ngIf="displayedJobs === null || displayedJobs?.length == 0"
         class="ui warning message">
        <div class="header">
            No jobs found
        </div>
    </div>
</div>
