<div class="ui clearing basic segment">
    <h1 class="ui left floated header"><i class="suitcase icon"></i>Job Search</h1>
    <a class="ui right floated button" routerLink="/jobs/new">
        <i class="add icon"></i>New Job
    </a>
</div>

<form class="ui form stackable grid" #f="ngForm">
    <div class="ten wide computer twelve wide tablet sixteen wide mobile column">
        <!--Search by Client-->
        <div class="inline field">
            <label>Search by Client</label>
            <select multiple="" class="ui fluid multiple search selection dropdown"
                    [(ngModel)]="clientFilterInput"
                    (ngModelChange)="onFilterSearchChange()"
                    name="clientFilter"
                    #clientFilter="ngModel">
                <!--disabled will prevent selection of empty string-->
                <option value="" disabled="true"></option>
                <option *ngFor="let c of clients;"
                        [value]="c.name">{{c.name}}
                </option>
            </select>
        </div>
        <div class="ui horizontal divider">
            Or
        </div>
        <!--Search by Producer-->
        <div class="inline field">
            <label>Search by Producer</label>
            <input type="text">
        </div>
        <div class="ui horizontal divider">
            Or
        </div>
        <!--Search by Keyword-->
        <div class="inline field">
            <label>Search by Keyword</label>
            <input type="text">
        </div>
    </div>
</form>

<!--Display Area-->
<div class="ui basic no-padding segment" [class.loading]="loading">
    <table class="ui yellow compact sortable celled table"
           *ngIf="displayedJobs?.length > 0">
        <thead>
        <tr>
            <th [class.sorted]="sortCategory == 'name'"
                [class.ascending]="sortOrder == 'ascending'"
                [class.descending]="sortOrder == 'descending'"
                (click)="sortTable('name')">
                Job Name
            </th>
            <th [class.sorted]="sortCategory == 'client'"
                [class.ascending]="sortOrder == 'ascending'"
                [class.descending]="sortOrder == 'descending'"
                (click)="sortTable('client')">
                Client
            </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let j of displayedJobs">
            <td class="ui selectable"><a [routerLink]="['/jobs/details', j?.id]">{{j?.name | characterLimit: 35}}</a>
            </td>
            <td>{{j?.client}}</td>
        </tr>
        </tbody>
    </table>

    <div *ngIf="displayedJobs === null || displayedJobs?.length == 0"
         class="ui warning message">
        <div class="header">
            No jobs found
        </div>
    </div>
</div>
