<div class="ui clearing basic segment">
    <h1 class="ui left floated header">
        <i class="users icon"></i>Clients
    </h1>
    <a class="ui right floated button" routerLink="/jobs/new">
        <i class="add icon"></i>New Client
    </a>
</div>


<!--Display Area-->
<ul *ngIf="clients !== null && clients.length > 0">
    <li *ngFor="let c of clients">
        {{c.name + " (" + c.shortCode + ")"}}
    </li>
</ul>

<div *ngIf="clients === null || clients.length == 0" class="ui warning message">
    <div class="header">
        No clients found
    </div>
</div>