<form #form="ngForm" class="ui form" id="new-client-form"
      (ngSubmit)="onSubmit(form)"
      (keydown.enter)="$event.preventDefault()"
      novalidate>
    <div class="required field" [class.error]="submitted && !name.valid">
        <label>Client Name</label>
        <input type="text"
               required
               [(ngModel)]="client.name"
               (ngModelChange)="submitted = false;"
               name="name"
               #name="ngModel">
    </div>
    <div class="required field" [class.error]="submitted && !shortCode.valid">
        <label>Short Code (3 UPPERCASE letters / numbers)</label>
        <input type="text"
               required
               maxlength="3"
               pattern="[A-Z0-9]{3}"
               [(ngModel)]="client.shortCode"
               (ngModelChange)="submitted = false;"
               name="shortCode"
               #shortCode="ngModel">
    </div>
    <form #brandForm="ngForm" class="field"
          (ngSubmit)="addBrand()"
          (keydown.enter)="brandSubmit.click()"
          novalidate>
        <div class="field">
            <label>Brands</label>
            <div class="ui right labeled input">
                <input type="text"
                       [(ngModel)]="currentBrand"
                       name="brand"
                       #brand="ngModel">
                <button type="submit" class="ui label button" #brandSubmit>Add</button>
            </div>
            <div class="ui secondary compact segment" *ngIf="client.brands.length > 0">
                <div class="ui blue label" *ngFor="let b of client.brands; let i = index">{{b}}
                    <a (click)="removeBrand(i)"><i class="close icon"></i></a>
                </div>
            </div>
        </div>
    </form>

    <div class="ui clearing divider"></div>
    <!--using grid for clearing (good to put in a modal)-->
    <div class="ui grid">
        <div class="row">
            <div class="column">
                <div class="ui large right floated buttons">
                    <button type="button" class="ui negative button"
                            (click)="cancel()"><i class="remove icon"></i>Cancel
                    </button>
                    <div class="or"></div>
                    <button type="submit" class="ui positive button"
                            [disabled]="!form.form.valid || submitted"><i class="checkmark icon"></i>Submit
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>