i.add.icon {
    margin: 0 !important;
}

.ui.segment {
    padding: 5px;
    padding-bottom: 0;
    margin-top: 5px;

    .ui.label {
        margin: 0 calc(.14285714em * 2) calc(.14285714em * 2) 0 !important;
    }
}
